﻿@page "/"

@using System.Net.Http
@inject HttpClient Http

@using Adam.Data.Models

<h1>Hello</h1>
<RadzenButton Click="GetSkills" Text="Refresh Skills" />

<table>
    <tr>
        <th>Category</th>
        <th>Description</th>
    </tr>
    @if (_skills == null)
    {

    }
    else
    {
        @foreach (Skill s in _skills)
        {
            <tr>
                <td>@s.Category</td>
                <td>@s.Description</td>
            </tr>
        }
    }
</table>


@code
{
    private string api = "https://localhost:5001/api/Skills";
    private List<Skill> _skills;

    protected override async Task OnInitAsync() => await GetSkills();

    private async Task GetSkills()
    {
        _skills = await Http.GetJsonAsync<List<Skill>>(api);
    }
}